<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>HELLO</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="marlon-santos" />
    <link rel="icon" href="/image/favicon.png" />
    <link href="/css/skills/skills.css" rel="stylesheet" />
  </head>

  <body id="home">
    <main>
      <header>
        <fieldset>
          <legend>Skills</legend>
          <span>
            <img th:src="@{/images/html.png}" /><span><span></span></span
            >90%</span
          >
          <span>
            <img th:src="@{/images/css.png}" /><span><span></span></span
            >90%</span
          >
          <span>
            <img th:src="@{/images/scss.png}" /><span><span></span></span
            >80%</span
          >
          <span>
            <img th:src="@{/images/js.png}" /><span><span></span></span
            >75%</span
          >
          <span>
            <img th:src="@{/images/angular.png}" /><span><span></span></span
            >70%</span
          >
          <span>
            <img th:src="@{/images/react.png}" /><span><span></span></span
            >55%</span
          >
          <span>
            <img th:src="@{/images/javaw.png}" /><span><span></span></span
            >50%</span
          >
        </fieldset>
      </header>
    </main>
  </body>
</html>
