<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>HELLO</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="marlon-santos" />
    <link rel="icon" href="/image/favicon.png" />
    <link href="/css/contato/contato.css" rel="stylesheet" />
</head>

<body id="home">
    <main>
        <header>
            <div>
                <img th:src="@{/images/git.png}" />
            </div>
            <div>
                <img th:src="@{/images/Linkedin.png}" />
            </div>
            <div>
                <img th:src="@{/images/gmail.png}" />
            </div>
        </header>
    </main>

</body>

</html>